@model IEnumerable<adtransfer.Channel>

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/views/views.channel.index.js")"></script>
}

<p>
    @Html.ActionLink("Create New", "Create", new object { }, new { @class = "btn btn-info" })
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PinCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FtpHost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelLoginID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelLoginName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelLoginAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelLoginCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelLoginCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelLoginPinCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelLoginEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelLoginPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelLoginState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelLoginPassword)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PinCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FtpHost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChannelLoginID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChannelLoginName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChannelLoginAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChannelLoginCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChannelLoginCountry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChannelLoginPinCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChannelLoginEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChannelLoginPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChannelLoginState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChannelLoginPassword)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ChannelID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ChannelID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ChannelID })
                </td>
            </tr>
        }

    </table>
</div>