@model adtransfer.Agency

@{
    ViewBag.Title = "Edit";
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/views/views.agency.edit.js")"></script>
}

<div style="margin-bottom:20px;">
    @Html.ActionLink("Back", "Index", new object { }, new { @class = "btn btn-info" })
</div>

<div class="table-responsive table-bordered">
    <div class="tableHead">Edit Client</div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="row" style="margin:0px!important;">
            <div class="col-sm-12">
                <br /><br />
                @Html.HiddenFor(model => model.AgencyID)
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.PIN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PIN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PIN, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-sm-10" style="margin-bottom:20px;">
                <center>
                    <input type="submit" value="Save" />
                    <input type="submit" name="Reset" value="Reset" />
                </center>
            </div>
        </div>
    }
</div>